@font-face { font-family: Devant Horgen; src: url('./Devant_Horgen_V3.0/OTF/Devant\ Horgen.otf'); } 
.container {
    height: 55vh;
    width: 99vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container_75 {
    height: 95vh;
}

.container_25 {
    height: 25vh;
}

.title_01 {
    position: relative;
    right: 0px;
    font-family: Devant Horgen, sans-serif;
    font-size: 54px;
    padding-right: 20px;
}

.title_02 {
    position: relative;
    right: 0px;
    font-family: Devant Horgen, sans-serif;
    font-size: 54px;
    padding-left: 20px;
    color: black;
}

.title_03 {
    position: relative;
    right: 0px;
    font-family: Devant Horgen, sans-serif;
    font-size: 54px;
    padding-right: 20px;
    color: white;
}

.title_04 {
    position: relative;
    right: 0px;
    font-family: Devant Horgen, sans-serif;
    font-size: 54px;
    padding-left: 20px;
    color: white;
}


.white {
    background-color: rgb(248, 244, 244);
}

.steel {
    background-color: #474a4b;
}

.black {
    background-color: black;
}

.clouds {
    background-clip: text;
    color: transparent;
    font-size: 92px;
    font-family: Devant Horgen, sans-serif;
    padding-left: 20vw;
    &:not(:hover)::before {
        content: attr(data-heading);
        left: 158px;
        font-family: Devant Horgen, sans-serif;
        background-clip: text;
        color: #3a3c3c;
        background-size: 200%;
    }
    &:hover::before {
        content: attr(data-heading);
        left: 158px;
        background: linear-gradient(40deg, rgba(255,255,255,0) 15%,rgba(255,255,255,0.8) 5%,rgba(255,255,255,0) 55%,rgba(255,255,255,0) 100%);
        background-clip: text;
        animation: clouds-animation 3s infinite;
        background-size: 200%;
    }
}

@keyframes clouds-animation {
	0% {background-position: -100%;}
	100% {background-position: 100%;}
}

.image-wrapper {
	height: 12rem;
	width: 12rem;
	border-radius: 6px;
	background-color: #ccc;
	display: flex;
	align-items: center;
	text-align: center;
	line-height: 1.6;

	img {
		height: auto;
		max-width: 100%;
	}
}


.image_shine {
    mask-image: linear-gradient(45deg,#000 25%,rgba(0,0,0,.2) 50%,#000 75%);
    mask-size: 800%;
    mask-position: 0;
    border-radius: 8px;
    margin-right: 40px;
}
  
.image_shine:hover {
    transition: mask-position 2s ease;
    mask-position: 120%;
    opacity: 1;
}

.mirror {
    transform: scaleX(-1);
}

.size_350 {
    width: 350px;
    height: 350px;
}

.size_550 {
    width: 350px;
    height: 550px;
}

.size_width_550 {
    width: 350px;
    height: 550px;
    opacity: 0.5;
    border: 0.1px solid pink;
    border-radius: 10px;
    margin-left: 50px;
}
.size_width_550:hover {
    opacity: 1;
    box-shadow: 5px 5px 15px 15px white;
}

.gradient-glow {
    background-image: linear-gradient(80deg, hwb(0 50% 48%), rgb(229, 242, 114) 42%, white 85%);
    -webkit-background-clip: text; /* For Safari/Chrome */
    background-clip: text; /* For Safari/Chrome */
    color: transparent;
    font-family: 'Devant Horgen', sans-serif;
    font-size: 225px;
    margin-right: 20px;
    animation: gradAnimation 5s ease-in-out infinite;
    background-size: 200% 200%;
    position: absolute;
}

.row {
    display: block;
}
.gradient-glow-blur {
    opacity: .4;
    filter: blur(50px);
    transition: opacity .3s;
    background-image: linear-gradient(80deg,  rgb(248, 246, 244) 42%, rgb(231, 195, 15), rgb(236, 238, 233) 85%);
    -webkit-background-clip: text; /* For Safari/Chrome */
    background-clip: text; /* For Safari/Chrome */
    color: transparent;
    font-family: 'Devant Horgen', sans-serif;
    font-size: 225px;
    margin-right: 20px;
    animation: gradAnimation 5s ease-in-out infinite;
    background-size: 200% 200%;
}

.mask-image {
    background-image: url("./assets/mask.png");
    margin-right: 50px;
}

.mask-image img{
    backdrop-filter: blur(15px) saturate(3);
}

@keyframes gradAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
